.closebtn {
    margin-left: 15px;
    color: #33a15f;
    font-weight: bold;
    float: left;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align:left;
  }
  
  .closebtn:hover {
    color: white;
  }
  .messag{
      text-align:right;
      margin-left:auto;
      margin-right:auto;
      width:50%;
  
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: .3125rem;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 10%);
}

    .card .card_image {
        width: inherit;
        height: inherit;
        border-radius: 40px;
    }

        .card .card_image img {
            width: inherit;
            height: inherit;
            border-radius: 2px;
            object-fit: cover;
        }

        .card .card_title {
            text-align: center;
            border-radius: 0px 0px 2px 2px;
            font-family: tahoma;
            font-size: 22px;
            margin-top: -40px;
            height: 40px;
            background-color: rgb(0 0 0 / 8%);
            /* margin-bottom: 0px; */
        }

    .card:hover {
        transform: translate(0px, -4px);
    }
    .card-title2 {
        /* margin-bottom: 1.75rem;
        margin-top: 0.75rem; */
        margin-bottom: 20px;

    }

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

/* Headline */
.ui[class*="center aligned"].container {
    text-align: right;
    border-bottom: solid 1px #e0e3ec;
    margin-bottom: 20px;
}
.pad50 {
    padding: 50px 0;
    padding-bottom: 0px;
}

/* card body space for tall matn */
p {
    margin-top: -8px !important;
}

/* --------------------------------------- */

  
  